@{
    Layout = null;
}

@model Nest.ISearchResponse<ElasticSearch_Example_NETCORE.Models.Gadget>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ElasticSearchExampleNETCORE</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div id="center_component">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" list="datalistOptions">
            <datalist id="datalistOptions">
                @if (Model.Documents.Any())
                {
                        @foreach (var gadget in Model.Documents)
                        {
                            string search = @gadget.brand +" "+ @gadget.name + " " + @gadget.color;
                            <option value="@search"/>
                        }
                }
            </datalist>
        </div>
    </div>
</body>
</html>
